<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Folders</mat-panel-title>
      <mat-panel-description>Total: {{folderCount$ | async}}</mat-panel-description>
    </mat-expansion-panel-header>
    <div class="folder">
      <mat-card>
        <div class="center">
          <button mat-icon-button (click)="addFolder()">
            <mat-icon>create_new_folder</mat-icon>
          </button>
        </div>
      </mat-card>
      <mat-card *ngFor="let folder of folders$ | async">
        <h4 mat-card-header>{{folder.name}}</h4>
        <mat-card-subtitle>
          {{folder.description}}
        </mat-card-subtitle>
        <mat-card-actions>
          <button mat-icon-button color="primary"><mat-icon>folder_open</mat-icon></button>
          <button mat-icon-button color="accent" (click)="editFolder(folder)"><mat-icon>mode_edit</mat-icon></button>
          <button mat-icon-button color="warn" (click)="deleteFolder(folder)"><mat-icon>delete</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<router-outlet></router-outlet>
