<mat-accordion>
    <mat-expansion-panel #expand>
        <mat-expansion-panel-header>
            <mat-panel-title *ngIf="(selectedFolder$ | async) as user;else wordFolder">{{user.name}}</mat-panel-title>
            <ng-template #wordFolder>
                <mat-panel-title>Folders</mat-panel-title>
            </ng-template>
            <mat-panel-description>Total: {{folderCount$ | async}}</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="folder">
            <button mat-icon-button (click)="addFolder()">
                <mat-icon>create_new_folder</mat-icon>
            </button>
            <mat-card *ngFor="let folder of folders$ | async">
                <h4 mat-card-header>{{folder.name}}</h4>
                <mat-card-subtitle>
                    {{folder.description}}
                </mat-card-subtitle>
                <mat-card-actions>
                    <button mat-icon-button color="primary" (click)="selectFolder(folder); expand.close()">
                        <mat-icon>folder_open</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" (click)="editFolder(folder)">
                        <mat-icon>mode_edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteFolder(folder)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-expansion-panel>
</mat-accordion>
